#page .pen_social_networks ul {
	float: left;
	line-height: 1;
	width: 100%;
}
#page .pen_social_networks ul,
#page .pen_social_networks li {
	list-style: none;
	margin: 0;
	padding: 0;
}
#page .pen_social_networks li a {
	vertical-align: top;
}
#page .pen_social_networks li.pen_500px a:before {
	content: '\f26e';
}
#page .pen_social_networks li.pen_amazon a:before {
	content: '\f270';
}
#page .pen_social_networks li.pen_bandcamp a:before {
	content: '\f2d5';
}
#page .pen_social_networks li.pen_behance a:before {
	content: '\f1b4';
}
#page .pen_social_networks li.pen_bitcoin a:before {
	content: '\f15a';
}
#page .pen_social_networks li.pen_etsy a:before {
	content: '\f2d7';
}
#page .pen_social_networks li.pen_coffee a:before {
	content: '\f0f4';
}
#page .pen_social_networks li.pen_facebook a:before {
	content: '\f082';
}
#page .pen_social_networks li.pen_foursquare a:before {
	content: '\f180';
}
#page .pen_social_networks li.pen_flickr a:before {
	content: '\f16e';
}
#page .pen_social_networks li.pen_gitlab a:before {
	content: '\f296';
}
#page .pen_social_networks li.pen_goodreads a:before {
	content: '\f02d';
}
#page .pen_social_networks li.pen_imdb a:before {
	content: '\f2d8';
}
#page .pen_social_networks li.pen_instagram a:before {
	content: '\f16d';
}
#page .pen_social_networks li.pen_lastfm a:before {
	content: '\f202';
}
#page .pen_social_networks li.pen_medium a:before {
	content: '\f23a';
}
#page .pen_social_networks li.pen_mewe a:before {
	content: '\f124';
}
#page .pen_social_networks li.pen_paypal a:before {
	content: '\f1f4';
}
#page .pen_social_networks li.pen_podcast a:before {
	content: '\f130';
}
#page .pen_social_networks li.pen_producthunt a:before {
	content: '\f288';
}
#page .pen_social_networks li.pen_reddit a:before {
	content: '\f1a1';
}
#page .pen_social_networks li.pen_shop a:before {
	content: '\f291';
}
#page .pen_social_networks li.pen_skype a:before {
	content: '\f17e';
}
#page .pen_social_networks li.pen_slack a:before {
	content: '\f198';
}
#page .pen_social_networks li.pen_snapchat a:before {
	content: '\f2ab';
}
#page .pen_social_networks li.pen_soundcloud a:before {
	content: '\f1be';
}
#page .pen_social_networks li.pen_spotify a:before {
	content: '\f1bc';
}
#page .pen_social_networks li.pen_stack_exchange a:before {
	content: '\f18d';
}
#page .pen_social_networks li.pen_stack_overflow a:before {
	content: '\f16c';
}
#page .pen_social_networks li.pen_steam a:before {
	content: '\f1b7';
}
#page .pen_social_networks li.pen_telegram a:before {
	content: '\f2c6';
}
#page .pen_social_networks li.pen_tumblr a:before {
	content: '\f173';
}
#page .pen_social_networks li.pen_twitch a:before {
	content: '\f1e8';
}
#page .pen_social_networks li.pen_vimeo a:before {
	content: '\f194';
}
#page .pen_social_networks li.pen_vk a:before {
	content: '\f189';
}
#page .pen_social_networks li.pen_vcard a:before {
	content: '\f2bb';
}
#page .pen_social_networks li.pen_wechat a:before {
	content: '\f1d7';
}
#page .pen_social_networks li.pen_whatsapp a:before {
	content: '\f232';
}
#page .pen_social_networks li.pen_wordpress a:before {
	content: '\f19a';
}
#page .pen_social_networks li.pen_xing a:before {
	content: '\f168';
}
#page .pen_social_networks li.pen_youtube a:before {
	content: '\f16a';
}

#pen_header .pen_social_networks li.pen_twitter_legacy a:before {
	content: '\f081';
}
#pen_footer .pen_social_networks li.pen_twitter_legacy a:before {
	content: '\f099';
}

#pen_header .pen_social_networks li.pen_pinterest a:before {
	content: '\f0d3';
}
#pen_footer .pen_social_networks li.pen_pinterest a:before {
	content: '\f231';
}

#pen_header .pen_social_networks li.pen_linkedin a:before {
	content: '\f08c';
}
#pen_footer .pen_social_networks li.pen_linkedin a:before {
	content: '\f0e1';
}

#pen_header .pen_social_networks li.pen_github a:before {
	content: '\f1d2';
}
#pen_footer .pen_social_networks li.pen_github a:before {
	content: '\f1d3';
}

#pen_header .pen_social_networks li.pen_bitbucket a:before {
	content: '\f172';
}
#pen_footer .pen_social_networks li.pen_bitbucket a:before {
	content: '\f171';
}

#pen_header .pen_social_networks li.pen_rss a:before {
	content: '\f143';
}
#pen_footer .pen_social_networks li.pen_rss a:before {
	content: '\f09e';
}

#pen_header .pen_social_networks li.pen_email a:before {
	content: '\f199';
}
#pen_footer .pen_social_networks li.pen_email a:before {
	content: '\f0e0';
}

#page .pen_social_networks li.pen_bluesky a:before,
#page .pen_social_networks li.pen_discord a:before,
#page .pen_social_networks li.pen_mastodon a:before,
#page .pen_social_networks li.pen_rumble a:before,
#page .pen_social_networks li.pen_tiktok a:before,
#page .pen_social_networks li.pen_twitter a:before {
	background: transparent;
	content: '\2588\2588\2588';
	display: inline-block;
	letter-spacing: -1px;
	overflow: hidden;
	position: relative;
	width: 1em;
}
#page .pen_social_networks li.pen_bluesky a:before {
	mask: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22600%22%20height%3D%22530%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22m135.72%2044.03c66.496%2049.921%20138.02%20151.14%20164.28%20205.46%2026.262-54.316%2097.782-155.54%20164.28-205.46%2047.98-36.021%20125.72-63.892%20125.72%2024.795%200%2017.712-10.155%20148.79-16.111%20170.07-20.703%2073.984-96.144%2092.854-163.25%2081.433%20117.3%2019.964%20147.14%2086.092%2082.697%20152.22-122.39%20125.59-175.91-31.511-189.63-71.766-2.514-7.3797-3.6904-10.832-3.7077-7.8964-0.0174-2.9357-1.1937%200.51669-3.7077%207.8964-13.714%2040.255-67.233%20197.36-189.63%2071.766-64.444-66.128-34.605-132.26%2082.697-152.22-67.108%2011.421-142.55-7.4491-163.25-81.433-5.9562-21.282-16.111-152.36-16.111-170.07%200-88.687%2077.742-60.816%20125.72-24.795z%22%20fill%3D%22currentColor%22%2F%3E%3C%2Fsvg%3E');
	-webkit-mask: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22600%22%20height%3D%22530%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22m135.72%2044.03c66.496%2049.921%20138.02%20151.14%20164.28%20205.46%2026.262-54.316%2097.782-155.54%20164.28-205.46%2047.98-36.021%20125.72-63.892%20125.72%2024.795%200%2017.712-10.155%20148.79-16.111%20170.07-20.703%2073.984-96.144%2092.854-163.25%2081.433%20117.3%2019.964%20147.14%2086.092%2082.697%20152.22-122.39%20125.59-175.91-31.511-189.63-71.766-2.514-7.3797-3.6904-10.832-3.7077-7.8964-0.0174-2.9357-1.1937%200.51669-3.7077%207.8964-13.714%2040.255-67.233%20197.36-189.63%2071.766-64.444-66.128-34.605-132.26%2082.697-152.22-67.108%2011.421-142.55-7.4491-163.25-81.433-5.9562-21.282-16.111-152.36-16.111-170.07%200-88.687%2077.742-60.816%20125.72-24.795z%22%20fill%3D%22currentColor%22%2F%3E%3C%2Fsvg%3E');
	mask-size: 100% 100%;
	-webkit-mask-size: 100% 100%;
}
#page .pen_social_networks li.pen_discord a:before {
	mask: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22400%22%20height%3D%22400%22%20viewBox%3D%220%20-28.5%20256%20256%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M216.856339%2C16.5966031%20C200.285002%2C8.84328665%20182.566144%2C3.2084988%20164.041564%2C0%20C161.766523%2C4.11318106%20159.108624%2C9.64549908%20157.276099%2C14.0464379%20C137.583995%2C11.0849896%20118.072967%2C11.0849896%2098.7430163%2C14.0464379%20C96.9108417%2C9.64549908%2094.1925838%2C4.11318106%2091.8971895%2C0%20C73.3526068%2C3.2084988%2055.6133949%2C8.86399117%2039.0420583%2C16.6376612%20C5.61752293%2C67.146514%20-3.4433191%2C116.400813%201.08711069%2C164.955721%20C23.2560196%2C181.510915%2044.7403634%2C191.567697%2065.8621325%2C198.148576%20C71.0772151%2C190.971126%2075.7283628%2C183.341335%2079.7352139%2C175.300261%20C72.104019%2C172.400575%2064.7949724%2C168.822202%2057.8887866%2C164.667963%20C59.7209612%2C163.310589%2061.5131304%2C161.891452%2063.2445898%2C160.431257%20C105.36741%2C180.133187%20151.134928%2C180.133187%20192.754523%2C160.431257%20C194.506336%2C161.891452%20196.298154%2C163.310589%20198.110326%2C164.667963%20C191.183787%2C168.842556%20183.854737%2C172.420929%20176.223542%2C175.320965%20C180.230393%2C183.341335%20184.861538%2C190.991831%20190.096624%2C198.16893%20C211.238746%2C191.588051%20232.743023%2C181.531619%20254.911949%2C164.955721%20C260.227747%2C108.668201%20245.831087%2C59.8662432%20216.856339%2C16.5966031%20Z%20M85.4738752%2C135.09489%20C72.8290281%2C135.09489%2062.4592217%2C123.290155%2062.4592217%2C108.914901%20C62.4592217%2C94.5396472%2072.607595%2C82.7145587%2085.4738752%2C82.7145587%20C98.3405064%2C82.7145587%20108.709962%2C94.5189427%20108.488529%2C108.914901%20C108.508531%2C123.290155%2098.3405064%2C135.09489%2085.4738752%2C135.09489%20Z%20M170.525237%2C135.09489%20C157.88039%2C135.09489%20147.510584%2C123.290155%20147.510584%2C108.914901%20C147.510584%2C94.5396472%20157.658606%2C82.7145587%20170.525237%2C82.7145587%20C183.391518%2C82.7145587%20193.761324%2C94.5189427%20193.539891%2C108.914901%20C193.539891%2C123.290155%20183.391518%2C135.09489%20170.525237%2C135.09489%20Z%22%20fill%3D%22currentColor%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
	-webkit-mask: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22400%22%20height%3D%22400%22%20viewBox%3D%220%20-28.5%20256%20256%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M216.856339%2C16.5966031%20C200.285002%2C8.84328665%20182.566144%2C3.2084988%20164.041564%2C0%20C161.766523%2C4.11318106%20159.108624%2C9.64549908%20157.276099%2C14.0464379%20C137.583995%2C11.0849896%20118.072967%2C11.0849896%2098.7430163%2C14.0464379%20C96.9108417%2C9.64549908%2094.1925838%2C4.11318106%2091.8971895%2C0%20C73.3526068%2C3.2084988%2055.6133949%2C8.86399117%2039.0420583%2C16.6376612%20C5.61752293%2C67.146514%20-3.4433191%2C116.400813%201.08711069%2C164.955721%20C23.2560196%2C181.510915%2044.7403634%2C191.567697%2065.8621325%2C198.148576%20C71.0772151%2C190.971126%2075.7283628%2C183.341335%2079.7352139%2C175.300261%20C72.104019%2C172.400575%2064.7949724%2C168.822202%2057.8887866%2C164.667963%20C59.7209612%2C163.310589%2061.5131304%2C161.891452%2063.2445898%2C160.431257%20C105.36741%2C180.133187%20151.134928%2C180.133187%20192.754523%2C160.431257%20C194.506336%2C161.891452%20196.298154%2C163.310589%20198.110326%2C164.667963%20C191.183787%2C168.842556%20183.854737%2C172.420929%20176.223542%2C175.320965%20C180.230393%2C183.341335%20184.861538%2C190.991831%20190.096624%2C198.16893%20C211.238746%2C191.588051%20232.743023%2C181.531619%20254.911949%2C164.955721%20C260.227747%2C108.668201%20245.831087%2C59.8662432%20216.856339%2C16.5966031%20Z%20M85.4738752%2C135.09489%20C72.8290281%2C135.09489%2062.4592217%2C123.290155%2062.4592217%2C108.914901%20C62.4592217%2C94.5396472%2072.607595%2C82.7145587%2085.4738752%2C82.7145587%20C98.3405064%2C82.7145587%20108.709962%2C94.5189427%20108.488529%2C108.914901%20C108.508531%2C123.290155%2098.3405064%2C135.09489%2085.4738752%2C135.09489%20Z%20M170.525237%2C135.09489%20C157.88039%2C135.09489%20147.510584%2C123.290155%20147.510584%2C108.914901%20C147.510584%2C94.5396472%20157.658606%2C82.7145587%20170.525237%2C82.7145587%20C183.391518%2C82.7145587%20193.761324%2C94.5189427%20193.539891%2C108.914901%20C193.539891%2C123.290155%20183.391518%2C135.09489%20170.525237%2C135.09489%20Z%22%20fill%3D%22currentColor%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
	mask-size: 100% 100%;
	-webkit-mask-size: 100% 100%;
}
#page .pen_social_networks li.pen_mastodon a:before {
	mask: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22370%22%20height%3D%22390%22%20viewBox%3D%220%200%2074%2079%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M73.7014%2017.9592C72.5616%209.62034%2065.1774%203.04876%2056.424%201.77536C54.9472%201.56019%2049.3517%200.7771%2036.3901%200.7771H36.2933C23.3281%200.7771%2020.5465%201.56019%2019.0697%201.77536C10.56%203.01348%202.78877%208.91838%200.903306%2017.356C-0.00357857%2021.5113%20-0.100361%2026.1181%200.068112%2030.3439C0.308275%2036.404%200.354874%2042.4535%200.91406%2048.489C1.30064%2052.498%201.97502%2056.4751%202.93215%2060.3905C4.72441%2067.6217%2011.9795%2073.6395%2019.0876%2076.0945C26.6979%2078.6548%2034.8821%2079.0799%2042.724%2077.3221C43.5866%2077.1245%2044.4398%2076.8953%2045.2833%2076.6342C47.1867%2076.0381%2049.4199%2075.3714%2051.0616%2074.2003C51.0841%2074.1839%2051.1026%2074.1627%2051.1156%2074.1382C51.1286%2074.1138%2051.1359%2074.0868%2051.1368%2074.0592V68.2108C51.1364%2068.185%2051.1302%2068.1596%2051.1185%2068.1365C51.1069%2068.1134%2051.0902%2068.0932%2051.0695%2068.0773C51.0489%2068.0614%2051.0249%2068.0503%2050.9994%2068.0447C50.9738%2068.0391%2050.9473%2068.0392%2050.9218%2068.045C45.8976%2069.226%2040.7491%2069.818%2035.5836%2069.8087C26.694%2069.8087%2024.3031%2065.6569%2023.6184%2063.9285C23.0681%2062.4347%2022.7186%2060.8764%2022.5789%2059.2934C22.5775%2059.2669%2022.5825%2059.2403%2022.5934%2059.216C22.6043%2059.1916%2022.621%2059.1702%2022.6419%2059.1533C22.6629%2059.1365%2022.6876%2059.1248%2022.714%2059.1191C22.7404%2059.1134%2022.7678%2059.1139%2022.794%2059.1206C27.7345%2060.2936%2032.799%2060.8856%2037.8813%2060.8843C39.1036%2060.8843%2040.3223%2060.8843%2041.5447%2060.8526C46.6562%2060.7115%2052.0437%2060.454%2057.0728%2059.4874C57.1983%2059.4628%2057.3237%2059.4416%2057.4313%2059.4098C65.3638%2057.9107%2072.9128%2053.2051%2073.6799%2041.2895C73.7086%2040.8204%2073.7803%2036.3758%2073.7803%2035.889C73.7839%2034.2347%2074.3216%2024.1533%2073.7014%2017.9592ZM61.4925%2047.6918H53.1514V27.5855C53.1514%2023.3526%2051.3591%2021.1938%2047.7136%2021.1938C43.7061%2021.1938%2041.6988%2023.7476%2041.6988%2028.7919V39.7974H33.4078V28.7919C33.4078%2023.7476%2031.3969%2021.1938%2027.3894%2021.1938C23.7654%2021.1938%2021.9552%2023.3526%2021.9516%2027.5855V47.6918H13.6176V26.9752C13.6176%2022.7423%2014.7157%2019.3795%2016.9118%2016.8868C19.1772%2014.4%2022.1488%2013.1231%2025.8373%2013.1231C30.1064%2013.1231%2033.3325%2014.7386%2035.4832%2017.9662L37.5587%2021.3949L39.6377%2017.9662C41.7884%2014.7386%2045.0145%2013.1231%2049.2765%2013.1231C52.9614%2013.1231%2055.9329%2014.4%2058.2055%2016.8868C60.4017%2019.3772%2061.4997%2022.74%2061.4997%2026.9752L61.4925%2047.6918Z%22%20fill%3D%22currentColor%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
	-webkit-mask: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22370%22%20height%3D%22390%22%20viewBox%3D%220%200%2074%2079%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M73.7014%2017.9592C72.5616%209.62034%2065.1774%203.04876%2056.424%201.77536C54.9472%201.56019%2049.3517%200.7771%2036.3901%200.7771H36.2933C23.3281%200.7771%2020.5465%201.56019%2019.0697%201.77536C10.56%203.01348%202.78877%208.91838%200.903306%2017.356C-0.00357857%2021.5113%20-0.100361%2026.1181%200.068112%2030.3439C0.308275%2036.404%200.354874%2042.4535%200.91406%2048.489C1.30064%2052.498%201.97502%2056.4751%202.93215%2060.3905C4.72441%2067.6217%2011.9795%2073.6395%2019.0876%2076.0945C26.6979%2078.6548%2034.8821%2079.0799%2042.724%2077.3221C43.5866%2077.1245%2044.4398%2076.8953%2045.2833%2076.6342C47.1867%2076.0381%2049.4199%2075.3714%2051.0616%2074.2003C51.0841%2074.1839%2051.1026%2074.1627%2051.1156%2074.1382C51.1286%2074.1138%2051.1359%2074.0868%2051.1368%2074.0592V68.2108C51.1364%2068.185%2051.1302%2068.1596%2051.1185%2068.1365C51.1069%2068.1134%2051.0902%2068.0932%2051.0695%2068.0773C51.0489%2068.0614%2051.0249%2068.0503%2050.9994%2068.0447C50.9738%2068.0391%2050.9473%2068.0392%2050.9218%2068.045C45.8976%2069.226%2040.7491%2069.818%2035.5836%2069.8087C26.694%2069.8087%2024.3031%2065.6569%2023.6184%2063.9285C23.0681%2062.4347%2022.7186%2060.8764%2022.5789%2059.2934C22.5775%2059.2669%2022.5825%2059.2403%2022.5934%2059.216C22.6043%2059.1916%2022.621%2059.1702%2022.6419%2059.1533C22.6629%2059.1365%2022.6876%2059.1248%2022.714%2059.1191C22.7404%2059.1134%2022.7678%2059.1139%2022.794%2059.1206C27.7345%2060.2936%2032.799%2060.8856%2037.8813%2060.8843C39.1036%2060.8843%2040.3223%2060.8843%2041.5447%2060.8526C46.6562%2060.7115%2052.0437%2060.454%2057.0728%2059.4874C57.1983%2059.4628%2057.3237%2059.4416%2057.4313%2059.4098C65.3638%2057.9107%2072.9128%2053.2051%2073.6799%2041.2895C73.7086%2040.8204%2073.7803%2036.3758%2073.7803%2035.889C73.7839%2034.2347%2074.3216%2024.1533%2073.7014%2017.9592ZM61.4925%2047.6918H53.1514V27.5855C53.1514%2023.3526%2051.3591%2021.1938%2047.7136%2021.1938C43.7061%2021.1938%2041.6988%2023.7476%2041.6988%2028.7919V39.7974H33.4078V28.7919C33.4078%2023.7476%2031.3969%2021.1938%2027.3894%2021.1938C23.7654%2021.1938%2021.9552%2023.3526%2021.9516%2027.5855V47.6918H13.6176V26.9752C13.6176%2022.7423%2014.7157%2019.3795%2016.9118%2016.8868C19.1772%2014.4%2022.1488%2013.1231%2025.8373%2013.1231C30.1064%2013.1231%2033.3325%2014.7386%2035.4832%2017.9662L37.5587%2021.3949L39.6377%2017.9662C41.7884%2014.7386%2045.0145%2013.1231%2049.2765%2013.1231C52.9614%2013.1231%2055.9329%2014.4%2058.2055%2016.8868C60.4017%2019.3772%2061.4997%2022.74%2061.4997%2026.9752L61.4925%2047.6918Z%22%20fill%3D%22currentColor%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
	mask-size: 100% 100%;
	-webkit-mask-size: 100% 100%;
}
#page .pen_social_networks li.pen_rumble a:before {
	mask: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22400%22%20height%3D%22400%22%20viewBox%3D%220%200%2030%2033%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22currentColor%22%20fill-rule%3D%22evenodd%22%20d%3D%22M18.6%2018.6a2.5%202.5%200%200%200%200-4c-1.9-1.4-4-2.7-6-3.6-1.5-.7-3.1.2-3.4%201.9-.3%202.4-.4%205-.2%207.3a2.4%202.4%200%200%200%203.3%202%2027.5%2027.5%200%200%200%206.3-3.6Zm9.6-7.2a7.6%207.6%200%200%201%200%2010.5C23.3%2027%2017%2030.7%2010%2032.3a7.1%207.1%200%200%201-8.5-4.8c-2.2-6.9-1.9-14.7.2-21.7%201-3.7%204.7-6%208.3-5.1a37.7%2037.7%200%200%201%2018.2%2010.7Z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
	-webkit-mask: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22400%22%20height%3D%22400%22%20viewBox%3D%220%200%2030%2033%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22currentColor%22%20fill-rule%3D%22evenodd%22%20d%3D%22M18.6%2018.6a2.5%202.5%200%200%200%200-4c-1.9-1.4-4-2.7-6-3.6-1.5-.7-3.1.2-3.4%201.9-.3%202.4-.4%205-.2%207.3a2.4%202.4%200%200%200%203.3%202%2027.5%2027.5%200%200%200%206.3-3.6Zm9.6-7.2a7.6%207.6%200%200%201%200%2010.5C23.3%2027%2017%2030.7%2010%2032.3a7.1%207.1%200%200%201-8.5-4.8c-2.2-6.9-1.9-14.7.2-21.7%201-3.7%204.7-6%208.3-5.1a37.7%2037.7%200%200%201%2018.2%2010.7Z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
	mask-size: 100% 100%;
	-webkit-mask-size: 100% 100%;
}
#page .pen_social_networks li.pen_twitter a:before {
	mask: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22400%22%20height%3D%22400%22%20viewBox%3D%223.5%203%2018%2018%22%3E%3Cpath%20d%3D%22M13.982%2010.622%2020.54%203h-1.554l-5.693%206.618L8.745%203H3.5l6.876%2010.007L3.5%2021h1.554l6.012-6.989L15.868%2021h5.245l-7.131-10.378Zm-2.128%202.474-.697-.997-5.543-7.93H8l4.474%206.4.697.996%205.815%208.318h-2.387l-4.745-6.787Z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
	-webkit-mask: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22400%22%20height%3D%22400%22%20viewBox%3D%223.5%203%2018%2018%22%3E%3Cpath%20d%3D%22M13.982%2010.622%2020.54%203h-1.554l-5.693%206.618L8.745%203H3.5l6.876%2010.007L3.5%2021h1.554l6.012-6.989L15.868%2021h5.245l-7.131-10.378Zm-2.128%202.474-.697-.997-5.543-7.93H8l4.474%206.4.697.996%205.815%208.318h-2.387l-4.745-6.787Z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
	mask-size: 100% 100%;
	-webkit-mask-size: 100% 100%;
}
#page .pen_social_networks li.pen_tiktok a:before {
	mask: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%223%203%2018%2018%22%20width%3D%22400%22%20height%3D%22400%22%20fill%3D%22currentColor%22%3E%3Cpath%20d%3D%22M%205%203%20C%203.8954311%203%203%203.8954311%203%205%20L%203%2019%20C%203%2020.104599%203.8954311%2021%205%2021%20L%2019%2021%20C%2020.104599%2021%2021%2020.104599%2021%2019%20L%2021%205%20C%2021%203.8954311%2020.104599%203%2019%203%20L%205%203%20z%20M%2012.53125%206%20L%2014.583984%206%20C%2014.583984%206%2014.469797%208.6353027%2017.433594%208.8203125%20L%2017.433594%2010.859375%20C%2017.433594%2010.859375%2015.852183%2010.958593%2014.583984%209.9902344%20L%2014.605469%2014.197266%20C%2014.605469%2014.949465%2014.382743%2015.685148%2013.964844%2016.310547%20C%2013.547044%2016.935946%2012.952712%2017.423038%2012.257812%2017.710938%20C%2011.562913%2017.998737%2010.798246%2018.074534%2010.060547%2017.927734%20C%209.3227876%2017.781035%208.6451707%2017.418618%208.1132812%2016.886719%20C%207.5814018%2016.354919%207.2190455%2015.677152%207.0722656%2014.939453%20C%206.9254858%2014.201754%207.0012628%2013.437087%207.2890625%2012.742188%20C%207.5768522%2012.047188%208.0640838%2011.453156%208.6894531%2011.035156%20C%209.3148225%2010.617257%2010.050635%2010.394631%2010.802734%2010.394531%20L%2011.335938%2010.394531%20L%2011.335938%2012.476562%20C%2010.988138%2012.368163%2010.614731%2012.372181%2010.269531%2012.488281%20C%209.9242816%2012.604481%209.6255223%2012.8284%209.4140625%2013.125%20C%209.2026127%2013.4215%209.0890969%2013.776425%209.0917969%2014.140625%20C%209.0944869%2014.504825%209.2138677%2014.858944%209.4296875%2015.152344%20C%209.6454973%2015.445743%209.9480622%2015.664291%2010.294922%2015.775391%20C%2010.641822%2015.886391%2011.015228%2015.884984%2011.361328%2015.771484%20C%2011.707428%2015.657984%2012.008956%2015.437478%2012.222656%2015.142578%20C%2012.436356%2014.847578%2012.550681%2014.493106%2012.550781%2014.128906%20L%2012.53125%206%20z%22%20%2F%3E%3C%2Fsvg%3E');
	-webkit-mask: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%223%203%2018%2018%22%20width%3D%22400%22%20height%3D%22400%22%20fill%3D%22currentColor%22%3E%3Cpath%20d%3D%22M%205%203%20C%203.8954311%203%203%203.8954311%203%205%20L%203%2019%20C%203%2020.104599%203.8954311%2021%205%2021%20L%2019%2021%20C%2020.104599%2021%2021%2020.104599%2021%2019%20L%2021%205%20C%2021%203.8954311%2020.104599%203%2019%203%20L%205%203%20z%20M%2012.53125%206%20L%2014.583984%206%20C%2014.583984%206%2014.469797%208.6353027%2017.433594%208.8203125%20L%2017.433594%2010.859375%20C%2017.433594%2010.859375%2015.852183%2010.958593%2014.583984%209.9902344%20L%2014.605469%2014.197266%20C%2014.605469%2014.949465%2014.382743%2015.685148%2013.964844%2016.310547%20C%2013.547044%2016.935946%2012.952712%2017.423038%2012.257812%2017.710938%20C%2011.562913%2017.998737%2010.798246%2018.074534%2010.060547%2017.927734%20C%209.3227876%2017.781035%208.6451707%2017.418618%208.1132812%2016.886719%20C%207.5814018%2016.354919%207.2190455%2015.677152%207.0722656%2014.939453%20C%206.9254858%2014.201754%207.0012628%2013.437087%207.2890625%2012.742188%20C%207.5768522%2012.047188%208.0640838%2011.453156%208.6894531%2011.035156%20C%209.3148225%2010.617257%2010.050635%2010.394631%2010.802734%2010.394531%20L%2011.335938%2010.394531%20L%2011.335938%2012.476562%20C%2010.988138%2012.368163%2010.614731%2012.372181%2010.269531%2012.488281%20C%209.9242816%2012.604481%209.6255223%2012.8284%209.4140625%2013.125%20C%209.2026127%2013.4215%209.0890969%2013.776425%209.0917969%2014.140625%20C%209.0944869%2014.504825%209.2138677%2014.858944%209.4296875%2015.152344%20C%209.6454973%2015.445743%209.9480622%2015.664291%2010.294922%2015.775391%20C%2010.641822%2015.886391%2011.015228%2015.884984%2011.361328%2015.771484%20C%2011.707428%2015.657984%2012.008956%2015.437478%2012.222656%2015.142578%20C%2012.436356%2014.847578%2012.550681%2014.493106%2012.550781%2014.128906%20L%2012.53125%206%20z%22%20%2F%3E%3C%2Fsvg%3E');
	mask-size: 100% 100%;
	-webkit-mask-size: 100% 100%;
}